body {
  background-color: whitesmoke;
}

.content {
  background-color: rgb(219, 216, 216);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 5px;
  box-shadow: 7px 5px 8px -2px rgba(122,119,119,0.75);
}

.result-display {
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
  margin-top: 0.5em;
  width: 315px;
  height: 60px;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
}

.result {
  padding-right: 10px;
  font-family: monospace;
  font-size: 35px;
}

.nums-and-operators {
  display: flex;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.5em 1em 1em 1em;
  gap: 5px;
}

.buttons * {
  background-color: rgb(172, 170, 170);
  color: rgb(38, 36, 36);
  font-family: monospace;
  font-size: 25px;
  width: 75px;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.4);
}


.buttons *:hover {
  background-color: rgb(93, 92, 92);
  color: white;
}
.buttons *:active {
  background-color: purple;
  color: white;
}
.buttons .equal {
  background-color: rgb(111, 111, 238);
  color: white;
}
.buttons .equal:hover {
  background-color: rgb(132, 54, 132);
  color: white;
}

.buttons .equal:active {
  background-color: rgb(245, 191, 90);
  color: white;
}

.disabledBtn,
.disabledBtn:hover,
.disabledBtn:active {
  background-color: rgb(219, 216, 216);
  box-shadow: none;
  border: none;
  color: rgb(219, 216, 216)
}