body {
  background-color: bisque;
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 5px;
  box-shadow: 7px 5px 8px -2px rgba(122,119,119,0.75);
}

.result-display {
  display: flex;
  margin-left: auto;
  padding-right: 1.5em;
}

.result {
  background-color: beige;
  color: black;
  margin-top: 0.5em;
  width: (75px + 5px) * 4;
  height: 60px;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nums-and-operators {
  display: flex;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.5em 1em 1em 1em;
  gap: 5px;
}

.buttons * {
  background-color: aqua;
  width: 75px;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.4);
}


.buttons *:hover {
  background-color: red;
  color: white;
}
.buttons *:active {
  background-color: purple;
  color: white;
}
.buttons .equal {
  background-color: blue;
  color: white;
}
.buttons .equal:hover {
  background-color: purple;
  color: white;
}

.buttons .equal:active {
  background-color: orange;
  color: white;
}